.container h1 {
    font-size: 3rem;
    font-family: var(--font-monoton);
    line-height: 60px;
    letter-spacing: 3px;
    color: var(--clr-black);
    margin-top: 4rem;
    padding-top: 4rem;
}

.specials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    flex: 1;
}

.foodContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-black);
    background-color: white;
    font-family: var(--font-montserrat);
    padding-bottom: 20px;
    border: 1px solid var(--clr-black);
    text-transform: capitalize;
    text-align: center;
}

.foodContainer > * {
    margin: 10px 0;
}

.foodContainer h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-style: italic;
    font-weight: 900;
    line-height: 25px;
}

.foodContainer p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.foodContainer b {
    font-family: var(--font-monoton);
    letter-spacing: 2px;
    font-size: 14px;
    color: var(--clr-black);
}

.foodImage {
    display: flex;
    height: 200px;
    margin: 5px;
    

}

.foodImage img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: relative;
}

.purchase {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 5px;
}

.purchase button {
    width: 80%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: var(--clr-red);
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    font-family: var(--font-montserrat);
    border: 0;
    transition: .8s ease;
}

.purchase button:hover {
    color: var(--clr-red);
    background: white;
    border: 1px solid var(--clr-black);
}

@media screen and (max-width: 1000px) {
    .specials {
        grid-template-columns: repeat(3, 1fr);
    }

    .foodContainer > p {
      font-size: 14px;
    }
}

@media screen and (max-width: 750px) {
    .specials {
        grid-template-columns: repeat(2, 1fr);
    }
    .purchase button {
        font-size: 10px;
        padding: 7px;
        font-weight: 700;
    }
}

@media screen and (max-width: 600px) {
    .specials {
        grid-template-columns: repeat(1, 1fr);
    }

    .foodContainer > * {
        margin: 5px;
    }

    .foodContainer p {
        font-size: 14px;
        font-weight: 500;
    }

    .foodContainer h4 {
        font-size: 16px;
    }

    .foodContainer b {
        font-size: 16px;
    }

    .foodImage {
        height: 150px;
    }
}


@media screen and (min-width: 1500px) {
    .specials {
        grid-template-columns: repeat(5, 1fr);
    }
}




